@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Quicksand:wght@300&display=swap');


img{
  margin: 25% auto auto 5%;
}

.myDescription {
  width: 60% ;
  margin-left: 150px;
  margin-top: 100px;
  margin-bottom: 0;
  font-size:xx-large;
  padding-right:50px;
  font-family: 'Quicksand', sans-serif;
  text-align: left;
}

.downloadResume{
  margin-right: 30px;
}

.aboutMeContent {
 display: inline-flex;
 margin: 8% 0 20% 0;
 align-items: center;
}

  @media (max-width: 1300px) {
     img {
       height: 200px;
       margin: 20px auto 20px auto;
       width: 200px;
     }
     .aboutMeContent {
       display: block;
       text-align: center;
      }
      .myDescription {
        width: 80% ;
        margin:auto;
        padding-right:0;
        padding-bottom: 50px;
        margin-top: 20px;
      }
 }