.aboutMeday{
    color: black;
    background-color: white;
    height: 100vh;
}

.aboutMenight{
  color: white;
  background-color: black;
  height: 100vh;
}

.desktopMenu{
  margin-right: 5%;
  }

.menuOpen {
    display:none;
    color: black;
  }
  
  @media (max-width: 414px) {
     .desktopMenu{
      display: none;
      }
     .menuOpen {
      display: block;
      position: fixed;
      margin: 15px 0 0 15px;
    }
  }