.App {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
}

.App-content {
  top: 0;
  left: -100%;
  position: fixed;
  align-items: center;
  width: 100%;
}

.slide {
  left: 0;
  top: 0;
  transition: 2s all ease;
}

.flexbox {
  display: flex;
  flex-direction: row;
}

.yellow {
  background-color: yellow;
  width: 40%;
  color: black;
}

.black {
  background:url("./images/stars.jpeg");
  width: 60%;
  color: white;
}

.navigator {
  position: fixed;
  cursor: pointer;
  animation: mymove 1s 1;
  margin: 1% 0px 0px 1%;
}
@keyframes mymove {
  0% {
   opacity: 0;
  }
  100% {
   opacity: 1;
  }
}

.text {
  font-size: x-large;
  font-weight: bolder;
}