.contactContainer {
    background: url("./images/contact.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    margin-top: -22px;
    height: 100vh;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}


.menuOpen {
    display:none;
    color: black;
  }
  
  @media (max-width: 414px) {
     .desktopMenu{
      display: none;
      }
     .menuOpen {
      display: block;
      position: fixed;
      margin: 15px 0 0 15px;
    }
  }