.contactContainer{
  height: 100%;
}

.socialMedia{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  width: 100%;
}

.sci {
  position: relative;
  display:flex;  
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}

.sci .li {
  list-style: none;
}

.sci li a {
  position: relative;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  transform-style: preserve-3d;
  perspective: 500px;
  color: red;
  margin: 20px;
  border-radius: 10px;
  text-decoration: none;
}

@media (max-width:1000px) {
  .sci {
flex-wrap: wrap;
  }
  
}