.App {
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
  }
  
  .App-content {
    top: 0;
    left: -100%;
    position: fixed;
    align-items: center;
    width: 100%;
  }
  
  .slide {
    left: 0;
    top: 0;
    transition: 1s all ease;
  }
  
  .night {
    display: flex;
    background: url("./images/night.jpeg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    height: 100vh;
    flex-direction: column;
    transition: 1s all ease-in;
  }

  .day {
    display: flex;
    background: url("./images/day.jpeg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: black;
    flex-direction: column;
    height: 100vh;
    transition: 1s all ease-in;
  }

  .mode {
    cursor:grabbing;
  }

  .menuIcon {
    display:none;
  }
  
  @media (max-width: 414px) {
     .menu{
      display: none;
      }
     .menuIcon {
      display: block;
      position: fixed;
      margin: 15px 0 0 15px;
    }
    .mode {
      margin-top:15px;
    }
  }
