.App {
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
  }
  
  .App-content {
    top: 0;
    left: -100%;
    position: fixed;
    align-items: center;
    width: 100%;
  }

  .modulesnight{
background: black;
color: white;
  }
  
  .modulesday{
    background: white;
color: black;
  }
  
  .night {
    display: flex;
    background: url("./images/night.jpeg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    z-index: -1;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    color: white;
    flex-direction: column;
    transition: 1s all ease-in;
  }

  .day {
    display: flex;
    background: url("./images/day.jpeg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    z-index: -1;
    background-size: cover;
    height: 100vh;
    color: black;
    flex-direction: column;
    transition: 1s all ease-in;
  }

  .mode {
    cursor:grabbing;
  }

  .menu {
      margin-right: 5%;

  }

  .menuIcon {
    display:none;
  }
  
  @media (max-width: 465px) {
     .menu{
      display: none;
      }
      .night {
        display: flex;
        background: url("./images/nightmobile.jpg") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        z-index: -1;
        -o-background-size: cover;
        background-size: cover;
        color: white;
        height: 100vh;
        flex-direction: column;
        transition: 1s all ease-in;
      }
     .menuIcon {
      display: block;
      position: fixed;
      margin: 15px 0 0 15px;
    }
    .mode {
      margin-top:15px;
    }
  }
