@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Caveat:wght@600&display=swap');
.name {
    animation: name 3s 1;
    margin-top: -5px;
    font-family: 'Amatic SC', cursive;
    font-family: 'Caveat', cursive;}

@keyframes name{
    0%{
        opacity: 0;
    }

    100%{
        opacity:1;
    }
  }

.first{
    font-size: 200px;
}

.rest{
    font-size: 100px;
}

.quote .author .quoteContainer{
    animation: name 3s 1;
}

@media (max-width: 925px) {
    .first{
        font-size: 100px;
    }
    
    .rest{
        font-size: 45px;
    }
  }
  
  @media (max-width: 435px) {
    .first{
        font-size: 70px;
    }
    
    .rest{
        font-size: 30px;
    }
  }

  @import url('https://fonts.googleapis.com/css?family=Special+Elite');
 
 /* Blockquote main style */
 .blockquote {
     position: relative;
     font-family: 'Amatic SC', cursive;
     font-family: 'Caveat', cursive;     
     max-width: 420px;
     margin: 50px;
     align-self: center;
 }
 
 /* Blockquote header */
 .blockquote h1 {
     position: relative; /* for pseudos */
     font-size: 2.8rem;
     font-weight: normal;
     line-height: 1;
     border: 2px solid #fff;
     border: solid 2px;
     border-radius:20px;
     padding: 25px;
 }
 
 /* Blockquote subheader */
 .blockquote h4 {
     position: relative;
     font-size: 1.3rem;
     font-weight: 400;
     line-height: 1.2;
     padding-top: 15px;
     z-index: 1;
     margin-left:150px;
     padding-left:12px;
 }
 
  
 .blockquote h4:first-letter {
   margin-left:-12px;
 }

 @media (max-width: 414px) {
  /* Blockquote main style */
  .blockquote {
    position: relative;
    font-family: 'Amatic SC', cursive;
    font-family: 'Caveat', cursive;     
    max-width: 420px;
    align-self: center;
}

/* Blockquote header */
.blockquote h1 {
    position: relative; /* for pseudos */
    font-size: 2rem;
    font-weight: normal;
    line-height: 1;
    border: 2px solid #fff;
    border: solid 2px;
    border-radius:20px;
    padding: 15px;
}

/* Blockquote subheader */
.blockquote h4 {
    position: relative;
    font-size: 1.3rem;
    font-weight: 200;
    line-height: 1.2;
    padding-top: 15px;
    z-index: 1;
    margin-left:150px;
    padding-left:12px;
}

 
.blockquote h4:first-letter {
  margin-left:-12px;
}
 }

 