@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Caveat:wght@600&display=swap');
.name {
    animation: name 3s 1;
    margin-top: -5px;
}

.introContent{
    font-family: 'Amatic SC', cursive;
    font-family: 'Caveat', cursive;
}
@keyframes name{
    0%{
        opacity: 0;
    }

    100%{
        opacity:1;
    }
  }

.first{
    font-size: 200px;
}

.rest{
    font-size: 100px;
}

@media (max-width: 1381px) {
    .first{
        font-size: 100px;
    }
    
    .rest{
        font-size: 45px;
    }
    
    .blockquoteWrapper{
     display: none;
    }
  }
  
  @media (max-width: 435px) {
    .first{
        font-size: 70px;
    }
    
    .rest{
        font-size: 30px;
    }
  }
 
 .blockquoteWrapper{
     padding: 2%;
     border: 0.1px solid;
     width:10%;
     position: absolute;
     bottom: 2%;
     left: 2%;
 }