@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Caveat:wght@600&display=swap');
.name {
    animation: name 3s 1;
    margin-top: -5px;
    font-family: 'Amatic SC', cursive;
    font-family: 'Caveat', cursive;}

@keyframes name{
    0%{
        opacity: 0;
    }

    100%{
        opacity:1;
    }
  }

.first{
    font-size: 200px;
}

.rest{
    font-size: 100px;
}
 
 