#greeting::before {
    content: "";
    animation: animate 7s;
  }
  
  @keyframes animate {
    0% {
      content: "Hello!! ";
      opacity: 1;
    }
    10% {
      opacity: 1;
    }
    25% {
      opacity: 0;
    }
    75% {
      opacity: 1;
      content: "Hola!!! ";
    }
    100% {
      content: "";
    }
  }

.App-back {
    background-color: #282c34;
    min-height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
  }