.containers {
  margin-top: 20px;
  justify-content: flex-end;
  font-family: "Josefin Sans", sans-serif;
}

.menuBox {
  flex-direction: row;
  align-items: center;
  display: flex;
}

.link {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
  height: max-content;
  max-width: max-content;
  padding: 10px 20px 10px 20px;
  transform: skewY(0deg) scale(1,1);
  transition: 0.3s;
}

.black {
  color: black;
}

.white {
  color: white;
}

.icon:hover {
  transform: skewY(1deg) scale(1.1,1.1);
}

.text {
  font-size: large;
  font-weight: bolder;
}

.Navlink:nth-child(n) {
  text-decoration: none;
}

.Navlink:last-child {
  border-right: none;

}