.containers {
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  align-items: center;
}

.link {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
  height: max-content;
  max-width: max-content;
  padding: 10px 20px 10px 20px;
  transform: skewY(0deg) scale(1,1);
  transition: 0.3s;
}

.black {
  color: black;
  border-right: 1px solid black;
}

.white {
  color: white;
  border-right: 1px solid white;
}

.icon:hover {
  transform: skewY(1deg) scale(1.1,1.1);
}

.text {
  font-size: large;
  font-weight: bolder;
}

.Navlink:nth-child(n) {
  text-decoration: none;
  padding-right: 80px;
}

.Navlink:last-child {
  border-right: none;
}

@media (max-width: 768px) {
  .Navlink:nth-child(n) {
    padding-right: 20px;
  }
}

@media (max-width: 542px) {
  .Navlink:nth-child(n) {
  padding-right: 0;
  }
}