.recentContainer{
    background: url("./images/recent.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top:-22px;
    color: white;
    height: 100vh;
}