.recentContainerday{
    color: black;
    background-color: white;
    height: 100vh;
}

.recentContainernight{
  color: white;
  background-color: black;
  height: 100vh;
}

.menuOpen {
    display:none;
    color: black;
  }

  .desktopMenu{
    margin-right: 5%;
    }
  
  @media (max-width: 414px) {
     .desktopMenu{
      display: none;
      }
     .menuOpen {
      display: block;
      position: fixed;
      margin: 15px 0 0 15px;
    }
  }