.recentContainerday{
    color: black;
    background-color: white;
    height: 100vh;
}

.recentContainernight{
  color: white;
  background-color: black;
  height: 100vh;
}


.desktopMenu{
  margin-right: 5%;
  }

  .menuday {
    color: black;
}
  
.menunight {
    color: white;
}

.menuIcon{
  display: none;
}
 

@media (max-width: 414px) {
     .desktopMenu{
      display: none;
      }
      .menuIcon{
        display: block;
      }
       
     .menuday {
      position: fixed;
      margin: 15px 0 0 15px;
    }
    .menunight {
      position: fixed;
      margin: 15px 0 0 15px;
    }
  }